@import "~/src/vars.scss";

.day-component {
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 90%;
}

.navigator {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
  gap: 3rem;
  > div {
    width: min(100%, max(33%, 500px));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    p {
      font-size: 1rem;
    }
  }
  button {
    transition: all 0.5s ease;
    color: $text-color;
    :hover {
      color: $highlight-color;
    }
  }
}

.time-grid {
  margin: 0 auto;
  width: min(90%, max(40%, 640px));
  height: 100%;
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: calc(60px - 24px);
}

.time-slot {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
}

.time-slot::after {
  background-color: $text-color;
}

.time-display::after,
.time-slot::after {
  content: "";
  height: 1px;
  left: 50px;
  top: 50%;
  width: calc(100% - 50px);
  position: absolute;
  font-size: 1rem;
}

.time-display {
  position: absolute;
  width: 100%;
  left: 0;
  color: $highlight-color;
}

.time-display > p {
  width: fit-content;
  background-color: $dark-color;
}

.time-display::after {
  background-color: $highlight-color;
}

::-webkit-scrollbar {
  background-color: $light-color;
  border-radius: 25px;
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: $highlight-color;
  border-radius: 25px;
}
