<div class="wrapper">
  <div [ngClass]="{ invalid: isValidName() }">
    <label>Title</label>
    <input type="text" class="form-control" [(ngModel)]="event.name" />
  </div>

  <div class="switch-container">
    <label>All-day</label>
    <label class="switch">
      <input type="checkbox" [(ngModel)]="allDay" (change)="onAllDayChange()" />
      <span class="slider round"></span>
    </label>
  </div>

  <div>
    <label>Date</label>
    <input
      type="date"
      [(ngModel)]="startDateString"
      (change)="onDateChange()"
    />
  </div>

  <div>
    <label>Start-time</label>
    <input
      type="time"
      [(ngModel)]="startTimeString"
      (change)="onDateChange()"
    />
  </div>

  <div>
    <label>End-time</label>
    <input type="time" [(ngModel)]="endTimeString" (change)="onDateChange()" />
  </div>

  <div>
    <label>Event-color</label>
    <input type="color" [(ngModel)]="event.color" />
  </div>
</div>
